.site-header {
  margin-bottom: 2rem;
  border-bottom: solid 2px rgba(0,0,0,.1);
  .header-content {
    display: flex;
    min-height: 80px;
    align-items: center;
  }
  nav {
    a {
      margin-left: 2rem;
    }
  }
}